{mod_cond, all}.
{sub_dirs, [
    "rel",
    "src"
]}.
{lib_dirs,
    [
        "deps",
        "apps"
    ]
}.
{deps, [
    {lager, "3.2.0", {git, "https://github.com/basho/lager.git", {tag, "3.2.1"}}},
    {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}}
]}.
{relx, [
    {release, {ofx, "0.1"},
        [sasl, ofx]},
        {dev_mode, false},
        {include_erts, true},
        {overlay, [
            {template, "files/app.config", "releases/\{\{rel_vsn\}\}/sys.config"}
        ]},
        {extended_start_script, true}]}.
{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
